/* .navbar {
  background-color: #0a3b3b;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left .logo {
  height: 40px;
}

.navbar-right{
  display: flex;
}

.navbar-right .icon{
  border: 1px solid black;
}

.navbar-right a { 
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  font-size: 16px;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.navbar-right a:hover {
  background-color:#89c8c8;
  color: black;
  border-radius: 8px;
} */

.navbar {
  background-color: #255b5b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 15px;
}

.logo-container {
  margin-right: 30px;
}

.logo{
  width: 60px;
}

.logo-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.navbar-left img{
  width: 120px;
  height: 60px;
  object-fit: cover;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  transition: transform 0.2s ease;
}

.nav-item:hover {
  transform: translateY(-2px);
}

.nav-circle {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  transition: background-color 0.3s ease;
}

.nav-circle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-right {
  display: flex;
  gap: 30px;
}

.nav-icon {
  color: white;
  font-size: 18px;
}

.nav-label {
  color: white;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
}

.nav-label:hover {
  color: #89c8c8;
}

